.title {
    background-color: #303030;
    width: 100%;
    max-width: 1920px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title h1 {
    color: white;
}

.container {
    margin: 70px 20%;
}

table {
    width: 100%
}

.mat-form-field {
    width: 30%;
}

td, th {
    width: 15%;
}

.mat-icon {
    margin: 6px;
    font-weight: 400;
    cursor: pointer;
}

.viewbtn {
    color: rgb(110, 255, 110);
}

.editbtn {
    color: rgb(107, 107, 255);
}

.deletebtn {
    color: rgb(255, 90, 90);
}